In [44]:
# Implement a linear regression model to predict the prices of houses based on their square footage 
# and the number of bedrooms and bathrooms.

In [45]:
import pandas as pd

In [46]:
train=pd.read_csv('D:/house-prices-advanced-regression-techniques/train.csv')
train
test=pd.read_csv('D:/house-prices-advanced-regression-techniques/test.csv')
test
sample_submission=pd.read_csv('D:/house-prices-advanced-regression-techniques/sample_submission.csv')
sample_submission

        Id      SalePrice
0     1461  169277.052498
1     1462  187758.393989
2     1463  183583.683570
3     1464  179317.477511
4     1465  150730.079977
...    ...            ...
1454  2915  167081.220949
1455  2916  164788.778231
1456  2917  219222.423400
1457  2918  184924.279659
1458  2919  187741.866657

[1459 rows x 2 columns]

In [47]:
#check for missing values
print(train.isnull().sum())
print(test.isnull().sum())

#drop rows with missing target values
train=train.dropna(subset=['SalePrice'])

# Fill missing values with median
train = train.fillna(train.median())
test = test.fillna(test.median())

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64
Id                 0
MSSubClass         0
MSZoning           4
LotFrontage      227
LotArea            0
                ...
MiscVal            0
MoSold             0
YrSold             0
SaleType           1
SaleCondition      0
Length: 80, dtype: int64

C:\Users\foram\AppData\Local\Temp\ipykernel_2772\727504647.py:9: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  train = train.fillna(train.median())
C:\Users\foram\AppData\Local\Temp\ipykernel_2772\727504647.py:10: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  test = test.fillna(test.median())

In [48]:
# Step 4: Feature selection

features= ['GrLivArea','BedroomAbvGr','FullBath']
target =  'SalePrice'

X = train[features]
y= train[target]
X_test = test[features]


X
y
X_test

      GrLivArea  BedroomAbvGr  FullBath
0           896             2         1
1          1329             3         1
2          1629             3         2
3          1604             3         2
4          1280             2         2
...         ...           ...       ...
1454       1092             3         1
1455       1092             3         1
1456       1224             4         1
1457        970             3         1
1458       2000             3         2

[1459 rows x 3 columns]

In [49]:
from sklearn.model_selection import train_test_split

X_train, X_val ,y_train ,y_val = train_test_split(X,y,test_size=0.2,random_state=42)

In [50]:
#step 5: train the Linear Regression Model

from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [51]:
#Model Evaluate 

y_val_pred = model.predict(X_val)

from sklearn.metrics import mean_absolute_error ,  mean_squared_error , r2_score

mae = mean_absolute_error(y_val,y_val_pred)
mse = mean_squared_error(y_val, y_val_pred)
r2 = r2_score(y_val , y_val_pred)


print('Mean Absolute Error:',mae)
print('Mean Squared Error:',mse)
print('R2 score :',r2)

Mean Absolute Error: 35788.061292436294
Mean Squared Error: 2806426667.247853
R2 score : 0.6341189942328371

In [52]:
#Predict on the test set
y_test_pred = model.predict(X_test)

In [53]:
#Prepare the submission file
submission = pd.DataFrame({'Id':test['Id'],'SalePrice':y_test_pred})
submission.to_csv('submission.csv',index=False)

In [54]:
submission_check = pd.read_csv('submission.csv')
print(submission_check.head())

     Id      SalePrice
0  1461  122173.313104
1  1462  140561.538683
2  1463  201783.754896
3  1464  199183.097221
4  1465  192133.739106